[Unit]
Description=The SaaS for time_crypt
After=network.target

[Service]
WorkingDirectory=/home/hurricane-server/time_crypt/
ExecStart=/home/hurricane-server/time_crypt/venv/bin/uvicorn main:app --reload --host 0.0.0.0 --port 31415
Restart=always

[Install]
WantedBy=multi-user.target
