[Unit]
Description=The SaaS for time_crypt
After=network.target

[Service]
WorkingDirectory=/home/cabox/workspace/time_crypt/
ExecStart=/home/cabox/.pyenv/shims/uvicorn main:app --reload --host 0.0.0.0 --port 1337
Restart=always
Environment="TIME_CRYPT_DIR=/home/cabox/workspace/time_crypt"

[Install]
WantedBy=multi-user.target
